services:
  app:
    build: .
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
      - composer_cache:/root/.composer/cache
    expose:
      - "9000"
    environment:
      APP_ENV: production
      APP_DEBUG: "false"
      LOG_CHANNEL: errorlog
      APP_URL: http://103.76.120.29
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: cat_apps
      DB_USERNAME: cat_user
      DB_PASSWORD: secret
    depends_on:
      db:
        condition: service_healthy

  vite:
    image: node:20-alpine
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    ports:
      - "5173:5173"
    environment:
      VITE_HOST: 0.0.0.0
    profiles: ["dev"]
    command: >
      sh -c "
      npm install &&
      npm run dev -- --host
      "
  vite-build:
    image: node:20-alpine
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    command: >
      sh -c "
      npm ci &&
      npm run build
      "

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app


  db:
    image: mariadb:10.11
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: cat_apps
      MARIADB_USER: cat_user
      MARIADB_PASSWORD: secret
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 5s
      timeout: 5s
      retries: 10


volumes:
  db_data:
  composer_cache:
